

// Fuentes
$fuente_principal: "Inter", sans-serif;

// Tamaño de Media Queries
$telefonoMini: 375px;
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Separacion
$separacion: 5rem;

// Fuentes - grosor
$delgada: 300;
$regular : 400;
$bold: 700;
$blackBold: 900;

// Paleta de colores
$bluePrimary: #14749B;
$yellowPrimary: #FEA621;
$greenPrimary: #41AA54;
$gray: #535353;
$black: #000000;
$white: #FFFFFF;
$red: #FE2121;

$box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
